<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:include filename="example_include.xacro" />


    <!-- ****************** ROBOT BASE FOOTPRINT ***************************  -->
    <!-- Define the center of the main robot chassis projected on the ground -->
    <link name="base_footprint"/>

    <!-- ********************** ROBOT BASE *********************************  -->


    <joint name="base_joint" type="fixed">
        <origin xyz="0 0 0.04" rpy="0 0 0"/>
        <parent link="base_footprint"/>
        <child link="base_link"/>
    </joint>

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0.00" rpy="0 0 0"/>
            <geometry>
                <box size="0.23 0.25 0.08" />
            </geometry>
            <material name="grey">
                <color rgba=".2 .2 .2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.00" rpy="0 0 0"/>
            <geometry>
                <box size="0.30 0.30 0.08" />
            </geometry>
        </collision>
    </link>


    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser"/>
        <origin xyz="0.05 0 0.08" rpy="0 0 0"/>
    </joint>

    <link name="laser">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.08"/>
            </geometry>
            <material name="Lgrey">
                <color rgba=".5 .5 .5 1"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.0508" length="0.18"/>
            </geometry>
        </collision>

    </link>


</robot>
